{%extends "base.html"%}
{% block title %} Expenditure {% endblock %}

{% block content %}
<h1>Expenditure</h1>
<!--use to make objects. the database will reflect said objects-->
<!--make this a reusable function set in another drive-->
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Description</th>
        <th scope="col">Cost</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in entries %}
        <tr>
          <th scope="row">{{obj.id}}</th>
          <td>{{obj.desc}}</td>
          <td>{{obj.cost}}</td>

        </tr>
      {% endfor %} 
    </tbody>
  </table>

  <a href="/addval"><button type="button" class="btn btn-light">Add Expenses</button></a>


{% endblock %}