{%extends "base.html"%}
{% block title %} Income {% endblock %}

{% block content %}
<h1>Income</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Description</th>
      <th scope="col">Cost</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in entries %}
      <tr>
        <th scope="row">{{obj.id}}</th>
        <td>{{obj.desc}}</td>
        <td>{{obj.cost}}</td>

      </tr>
    {% endfor %} 
  </tbody>
</table>

  <a href="/addval"><button type="button" class="btn btn-light">Add Income</button></a>


{% endblock %}