<html>
    <head>
    <style>
    ul#menu li {
        display:inline; 
        /*
        to get that navigation bar inline design
        */
    }
    </style>
    {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title> No title specified</title>
        {% endif %}
    </head>
    <body>
      <ul id="menu">
        <li><a>Page 1</a></li>
        <li><a>Page 2</a></li>
        <li><a>Page 3</a></li>
        <li><a>Page 4</a></li>
      </ul>

      <br>
      hello and welcome. this is some generic content, see below the niche stuff

      <div>
        {% block content %}{% endblock %}
      </div>

      <h2>and that's it folks!</h2>
    </body>
  </html>