{%extends "base.html"%}

{% block title %} NXADESIGNS | Book Me {% endblock %}

{% block content %} 

<h1> BOOK </h1>
<div class="form">
<form action="/book-conf" method="get">

    Name <br>
    <input type="text"> <br>
    Email <br>
    <input type="email" name="" id="">
    <br>
    Service required? <br>
    <label for="logo"><input type="checkbox" name="" id="logo">logo - £60 </label><br>
    <label for="webDes"><input type="checkbox" name="" id="webDes"> web design - £80 </label><br>
    <label for="brandKit"><input type="checkbox" name="" id="brandKit"> branding kit - £100 </label><br>
    <label for="cards"><input type="checkbox" name="" id="cards"> business card printing - £50</label><br>
<br>
Any comments or concerns? <br><input type="submit" value = "Book Me">

<textarea name="paragraph_text" cols="50" rows="10"></textarea>
<br>
</form>
<!--Hey, enter name
    Thank you for booking me! I really appreciate it, I will process
    your order and get in touch with you soon

    Besitos!

    Marie | NXADESIGNS
-->
</div>

{%endblock%}