{%extends "base.html"%}

{% block title %} NXADESIGNS | Portfolio{% endblock %}

{% block content %} 

<h1> PORTFOLIO </h1>

    <div class="container port">
      <div class="row row-cols-1 row-cols-md-3 g-4">
          <!--G IS FOR GUTTER, GUTTER AS IN SPACE-->
          <div class="col">
            <a href="/port-miakrylics">
                <div class="card">
                    <img src="/static/weLit/zineCvr.png" class="card-img-top hvr" alt="...">
                    <div class="overlay">
                        <h1 class="ovr">Streets said this was my best work yet</h1>
                    </div>
                </div>
            </a> 
            <br>
            <h4>WeLit Entertainment</h4>

        </div>
        <div class="col">
          <a href="/port-miakrylics">
              <div class="card">
                  <img src="/static/abfinals/bwCvr.jpg" class="card-img-top hvr" alt="...">
                  <div class="overlay">
                      <h1 class="ovr">Streets said this was my best work yet</h1>
                  </div>
              </div>
          </a> 
          <br>
          <h4>ABSTUDIO</h4>

      </div>
      <div class="col">
        <a href="/port-miakrylics">
            <div class="card">
                <img src="/static/mkVis/3b.jpg" class="card-img-top hvr" alt="...">
                <div class="overlay">
                    <h1 class="ovr">Streets said this was my best work yet</h1>
                </div>
            </div>
        </a> 
        <br>
        <h4>WeLit Entertainment</h4>

    </div>
        </div>
    </div>

{%endblock%}