{%extends "base.html"%}

{% block title %} NXADESIGNS | Portfolio{% endblock %}

{% block content %} 

<h1> PORTFOLIO </h1>

<ul>
    <li>corazon</li>
    corazon is  abrand design concept for a Christian streetwear brand. inspired by that one corinthians verse, this
    project makes use of brutalism assets and takes up space. 
    insert four images, multi page implementation
    <li>so you click to select here and it takes you to a suggested portfolio example</li>
    <br> <b>this is not essential to be fair, it's not marked fr, forcus on shop</b>
    <li>ihtb</li>
    <li>AB Studio</li>

</ul>
{%endblock%}