{%extends "base.html"%}

{% block title %} NXADESIGNS | Portfolio{% endblock %}

{% block content %}

<h1> MIAKRYLICS </h1>
This isn't my first project. I wish it was. Miakrylics is a concept for a black owned nail salon. Inpsired by the
nail-techs around me I designed a page knowing damn well everyone was busy using "as.me" pages. I'm trying not to spiral here as I know it's late. 
The brand miakrylics is fun and feminine but not too girls - that's why it's orange!

They also have a nice snazzy website!
<ul>
    ihtb description</ul>
{%endblock%}