{%extends "base.html"%}

{% block title %} NXADESIGNS | Shop {% endblock %}

{% block content %}

<h1> SHOP </h1>
<div class="container shop">
    <div class="row row-cols-1 row-cols-md-3 g-8 gy-5 py-1">
        <!--G IS FOR GUTTER, GUTTER AS IN SPACE-->
        <div class="col">
            <a href="/port-miakrylics">
                <div class="card">
                    <img src="/static/crzn/hoodie01.jpg" class="card-img-top hvr" alt="...">
                    <div class="overlay">
                        <h1 class="ovr">BUY NOW</h1>
                    </div>
                </div>
            </a> 
            <br>
            <h4>CORAZON HOODIE FIRST EDITION</h4>
            <h5><i>£60</i></h5>

        </div>
        <br>
        <div class="col">
            <a href="/port-miakrylics" >
                <div class="card">
                    <img src="/static/crzn/hoodie02.jpg" class="card-img-top hvr" alt="...">
                    <div class="overlay">
                        <h1 class="ovr">BUY NOW</h1>
                    </div>
                </div>
            </a> 
            <br>
            <h4>CORAZON HOODIE SECOND EDITION</h4>
            <h5><i>£60</i></h5>

        </div>
        <br>

        <div class="col">
            <a href="/port-abstudio">
                <div class="card">
                    <img src="static/crzn/tee03.jpg" class="card-img-top hvr" alt="...">
                    <div class="overlay">
                        <h1 class="ovr">BUY NOW</h1>
                    </div>
                </div>
            </a>
            <br>
            <h4>CORAZON T-SHIRT FIRST EDITION</h4>
            <h5><i>£60</i></h5>

        </div>
        <br>
        <div class="col">
            <a href="/port-abstudio">
                <div class="card">
                    <img src="/static/crznposter.jpg" class="card-img-top hvr" alt="...">
                    <div class="overlay">
                        <h1 class="ovr">BUY NOW</h1>
                    </div>
                </div>
            </a>
            <br>
            <h4>CORAZON POSTER FIRST EDITION</h4>
            <h5><i>£20</i></h5>
        </div>
        <br>
        <div class="col">
            <a href="/port-abstudio">
                <div class="card">
                    <img src="/static/brwn.jpg" class="card-img-top hvr" alt="...">
                    <div class="overlay">
                        <h1 class="ovr">BUY NOW</h1>
                    </div>
                </div>
            </a> 
            <br>
            <h4>BRWNSUGAR POSTER</h4>
            <h5><i>£10</i></h5>

        </div>
        <br>
        <div class="col">
            <a href="/port-abstudio">
                <div class="card">
                    <img src="/static/union.jpg" class="card-img-top hvr" alt="...">
                    <div class="overlay">
                        <h1 class="ovr">BUY NOW</h1>
                    </div>
                </div>
            </a>
            <br>
            <h4>BLISS POSTER</h4>
            <h5><i>£20</i></h5>

        </div>
    </div>
</div>
{%endblock%}